.clients {
  padding: 36px 70px 98px;
  background: $clients-background;

  figure img:hover {
    filter: blur(5px);
  }
}

@media (min-width: 0) and (max-width: 980px) {
  .clients {
    padding: 36px 70px 40px;

    figure {
      width: 100%;
    }

    img {
      width: 50%;
      margin: 0 auto 20px;
    }
  }
}
