/*Variables ___________________________________
Globales_______________________________________*/
$hmtl-font-size-rem: 62.5%;
$body-font-family: "Roboto";
$body-font-weight: bold;
$body-font-size: 1.8rem; /*Multiplicado por 10*/
$body-color: #fff;

//H1
$h1-size:6.4rem;
$h1-sizer:3.2rem;
//Section1======================
$h2-size-section1: 3.6rem;
$h2-margin-bottom-section1: 26px;
//Section1 Responsive===============
$h2-size-section1r: 2.4rem;
$h2-margin-bottom-section1r: 2rem;

//Section Hover
$section-filter-opacity: 0.9;

//Section Skills
$skill-section-background: #7299fe;
$skill-bar-background: #fff;
$skill-bar-div-background: #000;

//Section Services
$services-background: #fb7171;

//Section PortFolio
$portfolio-background: #ffd233;

//Section CLIENTS
$clients-background: #3f4e62;

//Section Contacto
$contact-background: #16a085;
$contact-botton-background: #233451;
$contact-botton-color: #fff;
$contact-input-color-valid:green;
$contact-input-color-invalid:red;

// Section contact button:hover
$contact-botton-hover-background: gold;
$contact-botton-hover-color: white;
//=================================================================================================//